$def with(qrUrl,uuid)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>洋葱python sdk流程Demo</title>
    <style type="text/css">
        .middle{
            margin:0px auto;
            text-align: center;
        }
    </style>
    <script type="text/javascript">uuid = "$uuid"</script>
    <script type="text/javascript" src="./static/js/jquery.js"></script>
    <script type="text/javascript" src="./static/js/main.js"></script>
</head>
<body>
    <div class="middle">
        <h5>请扫描二维码</h5>
        <img width="200" heijsght="200" src="$qrUrl" />
    </div>
    <div class="middle" style="display:none">
        <h5>二维码登陆</h5>
        <img id="qrCodeLogin" width="200" heijsght="200" src="" />
        <h5>一键登陆</h5>
        <button onclick="clickLogin()">一键登录</button>
        <h5>动态码登陆</h5>
        <input id="dnum" />
        <button onclick="dnumLogin()">登陆</button>
    </div>
</body>
</html>